<style type="text/css">
    a:link {
        color: gray;
    }

    a:visited {
        color: gray;
    }

    u.dotted {
      	border-bottom: 0px dashed #999;
      	text-decoration: none; 
    }
    
    td {
        font-family: monospace;	
        font-size: 18px;
        color: #555;
    }

    .button {
        background-color: white;
        border: none;
        padding: 0;
        background: none;
    }

    .collapsible {
        background-color: white;
        border: none;
        padding: 0;
        background: none;
        font-family: monospace;	
        background-color: white;
        cursor: pointer;
        width: 100%;
        outline: none;
        font-size: 18px;
        text-align: left;
    }
    
    .active, .collapsible:hover {
      background-color: white;
    }
    
    .content {
      padding: 0 10px;
      display: none;
      overflow: hidden;
      background-color: white;
    }
</style>