<style type="text/css">
    @import url('https://fonts.googleapis.com/css?family=Nunito');
    a:link {
        color: gray;
    }

    a:visited {
        color: gray;
    }

    #desc {
        font-family: 'Nunito', sans-serif;
    }

    table {
        max-width: 1200px; 
    }

    u.dotted {
      	border-bottom: 0px dashed #999;
      	text-decoration: none; 
    }
    
    td {
        font-family: monospace;
        font-size: 18px;
        color: #555;
        padding: 5px;
    }

    .button {
        background-color: white;
        border: none;
        padding: 0;
        background: none;
    }

    .collapsible {
        background-color: white;
        border: none;
        padding: 0;
        background: none;
        font-family: monospace;
        /*font-family: 'Special Elite', cursive;*/
        background-color: white;
        cursor: pointer;
        width: 100%;
        outline: none;
        font-size: 18px;
        text-align: left;
    }
    
    .active, .collapsible:hover {
        background-color: white;
    }
    
    .content {
        padding: 0 10px;
        display: none;
        overflow: hidden;
        background-color: white;
    }
</style>